# Ignore obsidian things

.trash/
.github/
*.vault-stats
*.ico

# Ignore folders with private contents 

00 Meta/01 Attachments/
10 Pending/
20 Entities/23 Private
30 References/33 Unaltered
30 References/34 Unread
40 Indexes/44 Assemblages
70 Products/71 Primitives
70 Products/72 Primordial
70 Products/73 Complete
70 Products/75 Proprietary
70 Products/76 Submitted
77 Products/77 Longform
80 Goals/
90 Life/

# Ignore specific files with private contents

00 Meta/04 Templates/03T Obsidian Roundup Template.md
publish.css

# Ignore potentially large files

*.pdf
*.jpg
*.jpeg
*.excalidraw
*.docx
*.doc
*.gif
*.png
